Package: com.fr0zensun.sbbrightness
Name: SBBrightness
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Adjust the screen brightness from the SpringBoard
Maintainer: heli0s
Author: heli0s
Section: Tweaks
